#Task__container {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 2px;
  height: 40px;
  width: 800px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  position: relative;
}

#Task__container:hover {
  cursor: pointer;
}

#Task__delete {
  position: absolute;
  right: 15px;
}